<style>

#image_gallery {
    margin-top: -10%;
}

.gal-item a:after{
  display:none;
}
</style>
<section id="image_gallery">
  <div class="container gal-container">
  <% @photos.order("RANDOM()").each_with_index do |photo, index| %>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#photo<%= index + 1 %>">
          <%= image_tag photo.image.url %>
        </a>
        <div class="modal fade" id="photo<%= index + 1 %>" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <!--%= link_to 'Download', download_path(:id => photo.id, :image => photo.image) %>-->
                <%= link_to download_url(photo), class: "download_link" do %>
                <i class="fas fa-cloud-download-alt"></i>
                <% end %>

                
                <%= image_tag photo.image.url, class: "no_overlay" %>
              </div>
                <div class="col-md-12 description">
                  <h4><%= photo.title %></h4>
                  <br>
                  <!--## Photo.user.name is giving errors on heroku but works locally
                  ######
                  -->
                  <h4 id="user_name"><span style="font-size:12px;">Uploaded by</span>&nbsp<%= link_to photo.user.try(:name).blank? ? 'N/A' : photo.user.name, profile_path(photo.user) %></h4>
                  <br>
                  <br>
                  <span id="share">
                    <!--from #{photo.user.name}-->
                    <!--share on twitter-->
                    <%= link_to "http://twitter.com/home?status=Here's a new photo titled #{photo.title} #{photo_url(photo)}. Post free on Ooopic.me. %23Photography %23Ooopic %23Photos %23FreeImages %23FreePhotos" , target: "_blank" do %><i style="margin-left: 25%; font-size: 27px; color: #03a9f4;" class="fab fa-twitter"></i><% end %></b>
                  </span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
   
    </div>
</section>