<p id="notice"><%= notice %></p>
<style>

#image_gallery {
    margin-top: 0%;
}
#tag_cloud {
    width: 400px;
    line-height: 2.5em;
    margin-top: 40%;
    margin-left: 33.5%;
    text-align: center;
}
.fa-search {
  font-weight: 900;
  position: absolute;
  margin-top: 28%;
  margin-left: -30%;
}
.m {
    font-size: 30px;
}
.l {
    font-size: 40px;
}
</style>
    <!--   *** TEXT ***-->
<!--<section id="text" class="text-page section-inverse background-secondary bg-img">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12" style="width: 75%;">-->
<!--        <h2 class="text-center" style="color:black;text-align: left;"><= tag.name %></h2>-->
       

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<section id="image_gallery">
  <div class="container gal-container">
  <% @photos.each_with_index do |photo, index| %>
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#photo<%= index + 1 %>">
          <%= image_tag photo.image.url %>
        </a>
        <div class="modal fade" id="photo<%= index + 1 %>" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <div class="modal-body">
                <!--%= link_to 'Download', download_path(:id => photo.id, :image => photo.image) %>-->
                <%= link_to download_url(photo), class: "download_link" do %>
                <i class="fas fa-cloud-download-alt"></i>
                <% end %>

                
                <%= image_tag photo.image.url, class: "no_overlay" %>
              </div>
                <div class="col-md-12 description">
                  <h4><%= photo.title %></h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <!--<i class="fas fa-search"></i>-->
   <%= render 'photos/tags' %>
    </div>
    
</section>
<%= render 'layouts/footer' %>